@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
*{
    font-family: 'Montserrat', sans-serif;
}
html{
    overflow-x: hidden;
}
body{
    margin: 0px;
    padding: 0px;
    background-color: rgb(255, 194, 33);
}
#signup{
    background-color: whitesmoke;
    margin: 100px 520px 0px 520px;
    padding: 40px 0px 30px 0px;
    border-radius: 0px 40px;
}
input[type="text"],input[type="email"],input[type="password"],input[type="password"]{
    border: none;
    width: 350px;
    padding: 20px 0px 20px 40px;
    border-bottom: 3px solid rgb(255, 194, 33);
    border-radius: 0px 40px;
    outline-color: rgb(255, 194, 33);
    margin-top: 15px;
    box-shadow: 0px 10px 10px  silver;
    font-size: 16px;
}
input::placeholder{
    font-size: 15px;
    padding: 100px;
}
button{
    font-size: 15px;
    font-weight: bold;
    border: none;
    background-color: black;
    color: white;
    padding: 10px 35px 10px 35px;
    margin-top: 15px;
}
button:hover{
    background-color: rgb(255, 194, 33);
}
a{
    text-decoration: none;
}
